.mat-card {
  width: calc(100% - 15px);
  height: calc(100% - 75px);
  // height: 350px;
}
.saldos-panel {
  height: 600px;
}
.movimientos-card {

  .title {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
}



