table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.mat-column-origen {
  width: 70px;
}
.mat-column-sucursalNombre {
  width: 110px;
}
.mat-column-folio {
  width: 90px;
}
.mat-cell {
  font-size: 11px;
}
.mat-row {
  height: 30px;
}
