.facturas-row {
  mat-form-field {
    padding-left: 10px;
  }
}
fieldset {
  border: 0;
  padding: 0;
  border-top: 1px solid gray;
}
legend {
  padding: 0;
  border: 0;
  font-size:90%;
  text-align: left;
}

.tab-content {
  padding-top: 10x;
}
