<mat-card *ngIf="saldo$ | async as saldo">
  <sx-search-title [title]="getTitle(saldo)">
    <div layout class="info" flex>
      <span flex></span>
      <div layout flex>
        <span class="pad-right">DEBE:</span>
        <span flex>{{ totales.debe | currency }}</span>
      </div>
      <span flex></span>
      <div layout flex>
        <span class="pad-right">HABER:</span>
        <span flex>{{ totales.haber | currency }}</span>
      </div>
    </div>
    <button
      class="options"
      mat-button
      mat-icon-button
      (click)="grid.exportData()"
      matTooltip="Exportar a CSV"
    >
      <mat-icon color="primary">file_download</mat-icon>
    </button>
    <button
      mat-menu-item
      class="actions"
      (click)="recalcularSaldo(selected)"
      [disabled]="!selectedSaldo"
    >
      <mat-icon>settings</mat-icon> Actualizar saldo
    </button>
  </sx-search-title>
  <mat-divider></mat-divider>
  <div class="table-panel">
    <sx-saldos-table
      [saldos]="saldo.children"
      #grid
      (drillData)="onDrill($event)"
      (selectionChange)="onSelection($event)"
      (totalesChanged)="onTotales($event)"
    >
      <button mat-menu-item (click)="reload(saldo)" class="actions">
        <mat-icon>refresh</mat-icon> Refresh
      </button>
    </sx-saldos-table>
  </div>
  <mat-card-actions>
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon> Regresar
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <div layout layout-align="center center">
    <mat-card-title>Movimientos</mat-card-title>
    <span flex></span>
    <div layout flex>
      <span class="pad-right">DEBE:</span>
      <span flex>{{ totalesMovimientos.debe | currency }}</span>
    </div>
    <div layout flex>
      <span class="pad-right">HABER:</span>
      <span flex>{{ totalesMovimientos.haber | currency }}</span>
    </div>

    <span flex></span>
    <button
      mat-button
      mat-icon-button
      (click)="movimientosGrid.exportData()"
      matTooltip="Exportar a CSV"
    >
      <mat-icon color="primary">file_download</mat-icon>
    </button>
    <button
      mat-button
      mat-icon-button
      [disabled]="selected && selected.length === 0"
      (click)="onReclasificar()"
      matTooltip="Reclaificar"
      color="accent"
    >
      <mat-icon>call_split</mat-icon>
    </button>
  </div>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
  </ng-template>
  <div class="movimientos-panel">
    <sx-movimientos-table
      #movimientosGrid
      [partidas]="movimientos$ | async"
      (selectionChange)="onPartidasSelected($event)"
      (totalesChanged)="onTotalesMovimientos($event)"
    ></sx-movimientos-table>
  </div>
</mat-card>
