<mat-card>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-search-title title="Activos vendidos">
      <button class="actions" mat-menu-item (click)="reload()">
        <mat-icon>refresh</mat-icon> Recargar
      </button>

      <button
        class="actions"
        mat-menu-item
        (click)="onDeleteBaja(selected)"
        *ngIf="selected"
        color="warn"
      >
        <mat-icon color="warn">delete</mat-icon> Eliminar
      </button>

      <button
        class="actions"
        mat-menu-item
        (click)="grid.exportData()"
        matTooltip="Descargar registros en formato CSV"
      >
        <mat-icon color="primary">file_download</mat-icon> Descargar
      </button>
    </sx-search-title>
  </ng-template>
  <mat-divider></mat-divider>
  <div class="grid-panel">
    <sx-bajas-table
      #grid
      [activos]="activos$ | async"
      (select)="onSelect($event)"
      (selectionChange)="onSelection($event)"
    ></sx-bajas-table>
  </div>
</mat-card>
