<mat-card>
  <ng-template
    tdLoading
    [tdLoadingUntil]="!(loading$ | async)"
    tdLoadingStrategy="overlay"
  >
    <sx-search-title
      title="Comparativo de registros entre SAT vs SIIPAPX"
      [visible]="true"
      *ngIf="filter$ | async as filter"
    >
      <sx-ejercicio-mes-btn
        class="info"
        [periodo]="filter$ | async"
        (change)="onCambiarPeriodo($event)"
      ></sx-ejercicio-mes-btn>
      <button class="actions" mat-menu-item (click)="reload(filter)">
        <mat-icon>refresh</mat-icon> Recargar
      </button>
      <button class="actions" mat-menu-item (click)="generar(filter)">
        <mat-icon>settings</mat-icon> Generar
      </button>
      <button
        class="actions"
        mat-menu-item
        (click)="grid.exportData()"
        matTooltip="Descargar registros en formato CSV"
      >
        <mat-icon color="primary">file_download</mat-icon> Descargar
      </button>
    </sx-search-title>
  </ng-template>
  <mat-divider></mat-divider>
  <div class="grid-panel">
    <sx-auditoria-cfdi-table
      #grid
      [data]="data$ | async"
    ></sx-auditoria-cfdi-table>
  </div>
</mat-card>
