.empresas-container {
  // width: calc(100% - 15px);
  // height: calc(100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  p.title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p.subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    font-style: 12px;

    font-style: italic;
  }
  .container {
    flex: 1;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
